h2 {
  color: red;
}

p {
	color: #9e010e;
	font-weight: bold;
}
/*
#card {
	background-color: rgba(0,0,255,0.5);
	padding: 20px;
	width: 200px;
	margin: 30px auto;
	border-radius: 20%;
	cursor: pointer;
}*/